* {
    box-sizing: border-box;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.btn {
    display: inline-block;
    min-width: 138px;
    height: 38px;
    padding: 0 15;
    color: rgb(72, 191, 114);
    border: 2px solid rgb(72, 191, 114);
    border-radius: 3px;
    text-decoration: none;
}

